/* style blog*/

.tieude{
    display:flex;
    justify-content: center;
    align-items: center ;
    padding-top:50px;

}
.tieude h2{
    color: #286c78;
    padding: 10px 20px; 
    border: 2px solid #0d0e0e; 
    border-radius: 5px; 
    display: inline-block; 
    background-color: #f9f9f9; 
}
.blog-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card{
    width: 300px;
    border-radius: 10px;
    background-color: #ceb2b2;
    overflow: hidden;
    margin:10px;
}
.card img{
    width: 100%;
    height: auto;
}


.content{
    width: 100%;
    margin-top:100px;
    background:#fff;
    padding:20px;
    border-radius: 8px;

}
.blog-post{
    margin-bottom: 2em;

}
.blog-post h2{

    color:#286c78;
    margin: 0.5rem;


    
}
.blog-post  p{
    margin:0.5rem;
}
.footer-content{
    display:flex;
}
.left {
    width:60%;
}
.right {
    width:40%;
}
.footer {
    background-color: #323737;
    color:#f8f8f684;
    padding:10px;
    text-align: center;
    width: 100%;
}
.right img {
    width:225px;
    border-radius: 400px;
}
.left h3{
    margin-top: 4px;
}
.left p{
    margin-top: 10px;
}
.card .more{
    display: flex;
    width: 150px;
    justify-content: center;
    background-color: #286c78;
    border-radius: 20px;
    margin-bottom: 10px;
    
    
}
.card .more a{
    
    color: #fff;
    display: flex;
    padding:10px 20px;
    text-decoration: none;
    font-weight: bold;
}
.card .more a:hover{
    color: #aa2525;
}