
.car-list {
    padding: 50px 20px;
    background-color: #5b2d2d;
    margin: 20px 0;
}
.car-list {
    margin-top: 15px;
}

.car-list .heading span {
    color: #007BFF;
}

.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.car {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 300px;
    text-align: center;
}

.car img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.car-details h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.car-details ul {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.car-details ul li {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0;
}

.car .btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}

.car .btn:hover {
    background-color: #0056b3;
}

/* Responsive styling */
@media (max-width: 768px) {
    .car-container {
        flex-direction: column;
        align-items: center;
    }

    .car {
        width: 100%;
    }
}