@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}
/*style cua index*/
#wrapper {
    /* Kích thước màn hình là 1280 x 720 */
    width: 100%;
    height: 100vh;

}
#header {
    width: 100%;
    padding:0px 30px;
    margin-top:35px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

#menu {
    list-style:none;
    display: flex;
    justify-content: center;
    flex:1;
}

#menu .item {
    margin:0px 35px;
}

#menu .item a {
    font-size:18px;
    color:#696e6e;
    text-decoration: none;
    transition:0.2s;
    
}
#menu .item a:hover{
    color:#6cd7d7
}


#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}
/*banner quang cao*/
#banner {
    width: 100%;
    background-image :url("bg/bgr.jpeg");
    background-repeat: no-repeat;
    background-size:55%;
    height: 460px;
    margin-top:40px;
    display: flex;
    padding:0px 130px;
    position:relative;
}


#banner .box-left ,#banner .box-right {
    width: 50%;
}
#banner .box-right img.rounded-corners {
    border-radius: 30px;
    display: block;
    width: 40%; 
    height: auto;
    margin-bottom: 10px; 
}

#banner  .box-left h2 {
    font-size:48px;
    margin-top:75px;
    color:#fff;
}

#banner .box-left p {  
    color:#D0D0D0;
}
#banner .box-left button {
    width: 190px;
    height: 40px;
    margin-top:41px;
    background:#1a1a1b;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

#banner .box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin:0px 10px;
    animation :animation 1s infinite linear alternate; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1.5s;
}

@keyframes animation {
    to{
        transform:translateY(20px);
    }

    
}


.car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}
.bestsell h2{
    margin: 100px 0px;
    text-align: center;
    color: rgb(236, 241, 241);
    font-size: 28px;
    border-radius: 10px;
    border:2px solid #4c4e4e;
    background-color: #3f3c3c;
    padding :20px 30px;
}

.car {
    background-color: #6a6565;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 400px;
    text-align: center;
}
.car .model{
    width:350px;
    height:250px;
    border-radius: 10px;
}

.car .model img {
    
    width: 100%;
    height: auto;
    border-radius: 10px;
    
}

.car-details h3 {
    font-size: 1.5rem;
    color: #cb8e8e;
    margin:10px;    
    
}

.car-details ul {
    
    list-style: none;
    padding: 0;
}

.car-details ul li {
    font-size: 1rem;
    color: #fff;
    margin:20px;
    
}
.car-details .by{
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-details .by a{
    text-decoration: none;
    background-color: #060707;
    padding:10px 20px;
    border-radius: 20px;
    color:#fff;
    font-weight: bold;
    transition: 0.4s;
}
.car-details .by a:hover{
    background-color: tomato;
}


#saleoff {
    margin-top: 150px;
    width: 100%;
    display: flex;
    height: 322px;
}
#saleoff .box-left ,#saleoff .box-right {
    width: 50%;
}
#saleoff .box-left {
    background:#3e413e;
    text-align: center;
    min-height: 322px;
}

#saleoff .box-left h1 {
    padding-top:38px;
}
#saleoff .box-left span:nth-child(1)
{
    color:#fff;
    font-size:50px;
}

#saleoff .box-left span:nth-child(2)
{
    color:orange;
    font-size:128px;
}

#saleoff .box-right {
    background-image:url("bg/abt.jpg");
    background-size:100%;
    background-position:60%;
    background-repeat:no-repeat;
}


#comment {
    width: 1100px;
    height: 480px;
    margin:10px auto;
    
}

#comment h4 {
    margin: 100px 0px;
    text-align: center;
    color: rgb(236, 241, 241);
    font-size: 28px;
    border-radius: 10px;
    border:2px solid #4c4e4e;
    background-color:  #3f3c3c;
    padding :20px 30px;
}


#comment-body{
    display: flex;
    align-items: center;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    
}

#list-comment .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background:#362f2f;
    border-radius: 20px;
    padding-top:50px;
}

#list-comment .item .avatar {
    width:100px;
    overflow: hidden;
    border-radius: 50%; 
    
    
    
   
}
#list-comment .item .avatar img{
    width: 100%;
    height: 100%;

}
#list-comment .item .stars {
    margin-top:32px;
}

#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color:#fff;
}

#list-comment .item .text {
    padding:20px 50px;
    color:#fff;
   
}



#lastpage {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 360px;
    margin-top:250px;
    padding:0px 60px;
    padding-top:60px;
    display: flex;
    justify-content: space-around;
}

#lastpage .box {
    width: 250px;
    color:#fff;
}

#lastpage .box .quick-menu {
    margin-top:40px;

}

#lastpage .box .quick-menu .item{
    margin-bottom:12px;

}
#lastpage .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}
.box .logo{
    width:250px;
    
}
.box .logo img{
    width:100%;
    border-radius:100px;
    border:none;
}



#lastpage .box form input {
    width: 300px;
    height: 40px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#lastpage .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 160px;
    height: 40px;
    margin-top:30px;
    color:#fff;
}

.swiper-container h2{
    margin: 100px 0px;
    text-align: center;
    color: rgb(236, 241, 241);
    font-size: 28px;
    border-radius: 10px;
    border:2px solid #4c4e4e;
    background-color:  #3f3c3c;
    padding :20px 30px;
}
.swiper-wrapper{
    display:flex;
    padding:0px 200px;
}
.swiper-slide{
    display: flex;
    margin:10px;

}
.swiper-slide .fix-img{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    
}
.swiper-slide .fix-img img{
    width: 80%;
}
.text-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    color: aliceblue;
    padding:10px 20px;
}
.text-overlay:hover{
    color: #31efef;
}
